
<div class="container">
	<header class="nav1 nav2">
		<h1 class="logo"><div class="logo-gt"</div></h1>
		<div class="menu-burger">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>	
		<nav class="menu">
			<ul>	
				<li><a href="">Intro</a></li>
				<li><a href="">Me</a></li>
				<li><a href="">Skills</a></li>
				<li><a href="">Work</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>
		
	</header>
		<div class="intro">
		<div class="img-welcome"></div>
				<p>Hi, I am Greg,</p>
				<p>a front-web-developer and a web-designer.</p>
				<p>I am living in London</p>
		</div>

</div>	




