
<div class="container">
	<header class="nav1 nav2">
		<h1 id="logo1"><div class="logo-gt"</div></h1>
			<div class="con-right-menu">
				<div class="menu-burger">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
						
					
						
				</div>
		</div>	
		<nav class="menu">
			<ul>	
				<li><a href="">Intro</a></li>
				<li><a href="">Me</a></li>
				<li><a href="">Skills</a></li>
				<li><a href="">Work</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>
		
	</header>
		<div class="slider-nav">
			<div class="active"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
	    </div>
		
		
		<div id="fp-nav">
			<ul class="fp-slidesNav">
				<li class="active"><span></span></li>
				<li><span></span></li>
				<li><span></span></li>
				<li><span></span></li>
				<li><span></span></li>
			</ul>
		</div>
		
		<div class="intro movie">
		<!--<div class="img-welcome"></div>-->
		<div id="base">
				  <div class="over">
					<div class="lt-cube-grid">
					<div class="lt-cube1 c1"><img src="assets/img/4.jpg" alt=""></div>
					<div class="lt-cube c2"><img src="assets/img/1.jpg" alt=""></div>
					<div class="lt-cube1 c3"><img src="assets/img/3.jpg" alt=""></div>
					<div class="lt-cube c4"><img src="assets/img/2.jpg" alt=""></div>
					<div class="lt-cube1 c5"><img src="assets/img/8.jpg" alt=""></div>
					<div class="lt-cube c6"><img src="assets/img/5.jpg" alt=""></div>
					<div class="lt-cube1 c7"><img src="assets/img/7.jpg" alt=""></div>
					<div class="lt-cube c8"><img src="assets/img/6.jpg" alt=""></div>
					<div class="lt-cube1 c9"><img src="assets/img/12.jpg" alt=""></div>
					<div class="lt-cube c1"><img src="assets/img/9.jpg" alt=""></div>
					<div class="lt-cube1 c2"><img src="assets/img/11.jpg" alt=""></div>
					<div class="lt-cube c3"><img src="assets/img/10.jpg" alt=""></div>

					</div>
				  </div>
		
		</div>
				<div class="text">
				<p>Hi, I am Greg,</p>
				<p>a front-web-developer and a web-designer.</p>
				<p>I am living in London</p>
				</div>

</div>	

</div>




