<div class="container2">

	<div class="wrapper">
  		<div class="container-img">	
			<object data="/assets/img/fib.svg" type="image/svg+xml" id="sObj"  height="100%" width="100%"></object>
			<script>
				var a = document.getElementById("sObj");
				jQuery(document).ready(function($) {

    $(window).load(function () {

       
               var docc = a.contentDocument;
            //do stuff
            // $(this).attr('d') = the path

        });

    });


        </script>

			<div id="emi" class="emitter"></div>
			
  		</div>
		
				
		<div id="startPoint" class="who">
					
				<h2>Who I am</h2>
				<ul>
					<li>I love minimalist style</li>
					<li>I code and design for passion</li>
					<li>I belive in objective conception of beuty</li>
					<li>I quikly adapt to new web technologies</li>
				</ul>		
		</div>
						
	</div>			

</div>	
		
	
		<!--<div class="fib">
	<div class="line-cont">	
	
	<svg version="1.1" id="em-line" class="line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%"  viewBox="0 0 1069.5 662" preserveAspectRatio="xMidYMid meet" style="enable-background:new 0 0 1069.5 662;" xml:space="preserve">
<path id="thePath" style="fill:none;stroke:#419ccc;stroke-miterlimit:10;stroke-width:4"; d="M0.4,0.4c0,360.1,291.9,652,652,652c225.1,0,407.5-182.4,407.5-407.5c0-135-109.5-244.5-244.5-244.5c-90,0-163,73-163,163c0,45,36.5,81.5,81.5,81.5s81.5-36.5,81.5-81.5"/>
			</svg>
		
		
		<div id="emi" class="emitter"></div>-->

	
			<!--	<div id="startPoint" class="who">
					
				<h2>Who am I</h2>
				<ul>
					<li>loving minimalist style</li>
					<li>coding and designin for passion</li>
					<li>beliving in objective conception of beuty</li>
					<li>quikly adaptaing to new web technologies</li>
				</ul>
				</div>
		</div>
	</div>-->
